<div class="container w-50" style="margin-top: 50px;">
    <div class="card ">
        <div class="card-header" style="text-align: center;">
               <h3> Registrar {{usuarioLabel}}</h3>
        </div>

        <!-- <span style="text-align: center;">
        <h3>Registrar {{usuarioLabel}}</h3>
    </span> -->
        <div class="card-body ">
            <form [formGroup]="frmUsuario" (ngSubmit)="crearUsuario()">
                <div class="form-group">
                    <label for="nombre">Usuario: </label>
                    <input type="text" class="form-control" formControlName="userNameColaborador" [ngClass]="{'is-invalid': frmUsuario.get('userNameColaborador')?.touched &&
                                        frmUsuario.get('userNameColaborador')?.invalid}"
                        placeholder="Nombre del usuario">
                    <span class="invalid-feedback">
                        <span *ngIf="frmUsuario.get('userNameColaborador')?.errors?.required">
                            El usuario es requerido
                        </span>
                        <span *ngIf="frmUsuario.get('userNameColaborador')?.errors?.minlength">
                            El usuario debe contener minimo 3 caracteres
                        </span>
                    </span>
                </div>
                <div class="form-group"  style="margin-top: 10px;">
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" class="form-control" formControlName="passwordUser"
                        placeholder="contraseña del usuario" [ngClass]="{'is-invalid': frmUsuario.get('passwordUser')?.touched &&
                                        frmUsuario.get('passwordUser')?.invalid}">
                    <span class="invalid-feedback" *ngIf="frmUsuario.get('passwordUser')?.errors?.required">
                        La contraseña es requerida
                    </span>
                </div>
                <div class="form-check form-check-inline" style="margin-top: 10px;">
                    <input class="form-check-input" type="radio" formControlName="rolUsuario"
                        (click)="selectRolUsuario('adm')" value="adm">
                    <label class="form-check-label" for="administrador">Administrador</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="rolUsuario"
                        (click)="selectRolUsuario('aux')" value="aux">
                    <label class="form-check-label" for="auxiliar">Auxiliar</label>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" [disabled]="frmUsuario.invalid">Guardar</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
        {{frmUsuario.value | json}}
    </div>


   